@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body {
    background: url('../images/background.png') no-repeat center center/cover;
    font-family: 'MedievalSharp', cursive;
    color: whitesmoke;
    text-align: center;
}

main {
    background-color: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: darkgoldenrod;
    text-decoration: wavy;
}

/* Heading */
.heading {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px 2px black;
    background-color: none;
}

.logo {
    height: 40px;
    padding-right: 5px;
}

/* Styling for container div */
.container {
    background-color: rgba(0, 0, 0, 0.7);
    /* Use rgba with opacity for the background color */
    max-width: 600px;
    width: 60%;
    border-radius: 5px;
    margin: 0 auto;
    /* Center horizontally */
    padding: 1%;
    /* Add some padding for spacing */
    box-sizing: border-box;
    /* Include padding and border in the width */
}

/* Reset opacity for text within the container */
.container h2,
.container p {
    opacity: 1;
    /* Keep the text fully opaque */
}


/* Start Screen */
#start-screen {
    display: block;
}

/* Game layout */
#game-area {
    /*display: none*/
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

.controls-area {
    width: 90%;
    margin: 3px auto;
    display: inline-block;
    justify-content: space-between;
}

#player {
    color: green;
    font-weight: bold;
}

#computer {
    color: red;
    font-weight: bold;
}

.scores {
    display: inline-block;
    padding: 25px;
}

/* Buttons */

.btn {
    width: 220px;
    height: 60px;
    font-family: 'MedievalSharp', cursive;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: whitesmoke;
}

.btn:focus {
    outline: none;
}

.btn--big {
    padding-top: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}

.btn--big::after {
    content: attr(data-type);
    font-size: 1rem;
    color: whitesmoke;
    position: relative;
    left: -0.5em;
}

.btn--blue {
    border-color: lightskyblue;
    color: lightskyblue;
}

.btn--blue:active,
.btn--blue:hover {
    background-color: darkblue;
    color: white;
}

.btn--yellow {
    border-color: gold;
    color: gold;
}

.btn--yellow:active,
.btn--yellow:hover {
    background-color: darkgoldenrod;
    color: white;
}

.btn--red {
    border-color: red;
    color: red;
}

.btn--red:active,
.btn--red:hover {
    background-color: darkred;
    color: white;
}

.btn--green {
    border-color: green;
    color: green;
}

.btn--green:active,
.btn--green:hover {
    background-color: darkgreen;
    color: white;
}

.btn--purple {
    border-color: magenta;
    color: magenta;
}

.btn--purple:active,
.btn--purple:hover {
    background-color: darkmagenta;
    color: white;
}


.btn--gray {
    margin-top: 25px;
    background-color: #445361;
    border: 1px transparent;
    border-radius: 20px;
}

.btn--gray:active,
.btn--gray:hover {
    background-color: #0d1013;
}
#show-rules {
    font-size: medium;
}

/* Rules Screen */
#rules {
    text-align: left;
}

#rules ul {
    text-align: left;
    margin-left: 20px;
    list-style-type: none;
}

/* Footer */
.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
}

/* Media queries */

@media (max-width: 414px) {

    .container,
    .controls-area {
        width: 100%;
    }

    .btn--big {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .btn--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .btn--gray {
        margin-top: 0;
    }

    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .container {
        height: 70vh;
    }

    .container,
    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .btn--big {
        margin: 10px 10px;
    }
}